todo/
my_build/
codedemens/
nbproject/
doc/out/
doc/uml/
doc/header.html
doc/Doxyfile
bin/
build/
CMakeFiles/
latex/
Makefile*
CMakeCache.txt
cmake-install.cmake
cmake_install.cmake
impl/compile_commands.json
compile_commands.json
impl/.ycm_extra_conf.py
.ycm_extra_conf.py
*.swp
*.swl
*.swm
*.swn
*.swo
*.clang_complete
impl/tags
.vscode/
impl/.vscode/
impl/include/SigmaDev/Reference/SigmaDevTODO.doc
